<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button class="icon-st"></ion-menu-button>
  </ion-buttons>
  <ion-title class="ion-text-center"></ion-title>
</ion-toolbar>


<ion-content>
      <ion-grid style="border-radius: 20px;">
        <ion-row>
          <ion-col>
            <ion-text color="secondary">
              <h1 style="margin-left: 20px;font-family: cursive;color: #000;font-weight: 800;">Detalle de la reserva</h1>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-icon style="margin-top: 6vw;font-size: 10vw;" name="reader-outline"></ion-icon>
          </ion-col>
          </ion-row>
      </ion-grid> 

      <ion-card style="z-index: 2;margin-bottom: 30px;box-shadow: 0px 0px 10px 0px #9f9f9f;" [routerLink]="['../days']">
        <ion-card-header style="position: relative;margin-top: -99px;">
          <ion-grid style="border-radius: 20px;">
            <ion-row>
              <ion-col>
                <ion-card-title style="color:#fff;font-weight: bold;font-size: 25px;">{{ ground.name }}</ion-card-title>
              </ion-col>
              <ion-col>
                <ion-badge style="float: right;font-size: 16px;padding: 8px;" color="warning">{{ ground.price | currency: 'GS ':'symbol':'3.0' }}</ion-badge>
              </ion-col>
              </ion-row>
          </ion-grid>  
        </ion-card-header>
      </ion-card>

      <ion-card style="margin-top: -10vw;padding: 20px 5px;border-radius: 30px;">
        <ion-grid style="border-radius: 20px;">
            <ion-row>
              <ion-col>
                <img style="height: 100%;width: 100%;float:left;border-radius: 15px;" src="https://i.ibb.co/6vzsbKm/AB8I7154.jpg" />
              </ion-col>
              <ion-col style="margin-top: 20px;">
                <ion-card-title style="font-size: 18px;">{{ ground.name }}</ion-card-title>
                <ion-card-subtitle style="text-transform: capitalize;">Precio 2hrs: {{ ground.price | currency: 'GS ':'symbol':'3.0' }}</ion-card-subtitle>
              </ion-col>
            </ion-row>
        </ion-grid> 
        <ion-card-header style="padding:0px">
          
          <br>
          <ion-grid style="border-radius: 20px;">
            <ion-row>
              <ion-col>
                <ion-card-title style="font-size: 16px;background-color: #bcbcbc2e;padding: 10px 5px;">Resumen</ion-card-title>
                <br>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-card-subtitle style="text-transform: capitalize;">Dia</ion-card-subtitle>
                <ion-card-title style="font-size: 16px;">{{ booking.day }}</ion-card-title>
              </ion-col>
              <ion-col>
                <ion-card-subtitle style="float: right;text-decoration: underline;margin-top: 15px;text-transform: capitalize;" (click)="backToDay()">Cambiar</ion-card-subtitle>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-card-subtitle style="text-transform: capitalize;">Horario</ion-card-subtitle>
                <ion-card-title style="font-size: 16px;">{{ booking.schedule }}</ion-card-title>
              </ion-col>
              <ion-col>
                <ion-card-subtitle style="float: right;text-decoration: underline;margin-top: 15px;text-transform: capitalize;" (click)="backToSchedule()">Cambiar</ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid style="border-radius: 20px;">
            <ion-row>
              <ion-col>
                <ion-card-title style="font-size: 16px;background-color: #bcbcbc2e;padding: 10px 5px;">Métodos de pago</ion-card-title>
                <br>
              </ion-col>
            </ion-row>
            <ion-label style="background-color: #2cc769;padding: 5px 70px 5px 5px;color: #fff;white-space: break-spaces;margin-left:10px" color="dark">Transferencia Bancaria</ion-label>
            <ion-text color="medium">
              <ul>
                <li>Banco: Vision</li>
                <li>Nro de Cuenta: 58962144</li>
                <li>Nombre: Marcelo Cuba</li>
                <li>CI: 4.254.795</li>
              </ul>
            </ion-text>
            <ion-label style="background-color: #2cc769;padding: 5px 70px 5px 5px;color: #fff;white-space: break-spaces;margin-left:10px" color="dark">Tarjeta Debito/Credito</ion-label>
            <ion-text color="medium">
              <ul>
                <li>Proximamente..</li>
              </ul>
            </ion-text>
          </ion-grid>
          <br>
          <ion-chip style="width:90%;height: auto;background-color:#00968840">
            <ion-label style="white-space: break-spaces;padding: 2px;" color="medium">Las reservas por este medio, serán confirmadas vía llamada telefónica al número registrado.</ion-label>
          </ion-chip>
        </ion-card-header>
      </ion-card>

      <ion-grid style="width: 60%;">
        <ion-row>
          <ion-col>
            <ion-button (click)="addBooking()" mode="ios" size="large" shape="round" expand="block" color="dark"><ion-icon name="checkmark-outline"></ion-icon> Confirmar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>  

      <ion-fab [routerLink]="['../schedule']" vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button color="dark">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>

</ion-content>