<ion-tabs>

  <ion-tab-bar style="padding: 10px 0px;" slot="bottom">

    <ion-tab-button class="st-tab" tab="main">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button class="st-tab" tab="dashboard">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Mis Reservas</ion-label>
    </ion-tab-button>

    <ion-tab-button class="st-tab">
      <ion-icon name="globe-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button class="st-tab" tab="profile">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
