.card-color-day{
    background-color: #00BD9B;
    width: 80%;
    margin: 15px auto;
    text-align: center;
    border-radius: 30px;
}

ion-card-title.ion-inherit-color.md.hydrated {
    font-weight: 800;
    color: #fff;
}

ion-card-title {
    font-size:18px
}

.header-md::after {
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: none;
    background-repeat: repeat-x;
    content: "";
}