<ion-content>

<ion-card style="background: linear-gradient(0deg, rgba(19,220,228,1) 0%, #673ab7 100%);;margin-top: -2px;padding-top: 55px;width: 100%;margin-inline: auto;text-align: center;border-bottom-left-radius: 85px;border-bottom-right-radius: 85px;">
  <ion-card-header style="padding: 90px;text-align: center;">
    <img style="width: 50%;margin-right: -30px;" src="https://i.ibb.co/m6v0JS3/cbcccffbbd7cbabf3c0415956f71a1d3-removebg-preview.png">
    <ion-card-title style="color: #fff;font-size: 40px;font-weight: 800;">Cancha</ion-card-title>
    <ion-card-title style="color: #673ab7;font-size: 22px;font-weight: 800;">Reservada!</ion-card-title>
  </ion-card-header>
</ion-card>

  <ion-grid style="width: 60%;margin-top:40px">
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['../home']" mode="ios" size="large" shape="round" expand="block" color="dark"><ion-icon style="padding-right: 5px;" name="home-outline"> </ion-icon>Volver a Inicio</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> 

</ion-content>